<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <title>Cadastro realizado!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <meta charset="UTF-8" />
        
    </head>
    <body>
        <h1>Filme cadastrado com sucesso!</h1>
        
        <p>Nome do filme:<span th:text="${objFilme.titulo}"></span> </p>
        <p>Sinopse: <span th:text="${objFilme.sinopse}"></span> </p>
        <p>Genero: <span th:text="${objFilme.genero}"></span> </p>
        <p>Ano de lancamento: <span th:text="${objFilme.anoLancamento}"></span></p>
        
        <button id="voltar">Voltar para pagina inicial</button>
        
        <script>
        document.getElementById("voltar").addEventListener("click",function(){
        window.location.href="http://localhost:8080/PaginaInicial";
        });
        
        </script>
    </body>
</html>
